<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['หวัดดีย์วัยสะรุ่น', 'ไปไหนมาเหร๊อ','กินข้าวอ๊ะยาง','ไม่คุยด้วยแระ','ฮ่อยยะ','ขอให้เป็นวันที่ดีนะ','วันนี้ยิ้มหรือยังงง','โย่ว ว๊าดส้าบบบบ','วันนี้ร้อนสุด','อย่าลืมนอนให้ครบ 8 แก้ว ดื่มน้ำให้ครบ 30 ชั่วโมงด้วยนะ!']
function send(message: string){
  messages.value.push(message)
  answersWithComputer()

}
function answersWithComputer(){
  const answer = answers[Math.floor(Math.random()*10000)%answers.length]
  console.log(answer)
  messages.value.push(answer)
  nextTick(()=> {
    messageList.value?.updateUI()
  })
  
}
</script>

<template>
  <div>
    <MessageList ref="messageList" :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
  
</template>
