<script setup lang="ts">
import { RouterView, RouterLink, useRouter, useRoute} from 'vue-router';
const router = useRouter()
const route = useRoute()
function goToChat(){
  router.push({ name: 'chat'})
}
</script>

<template>
  <ul>
    <li><RouterLink :class="{active: route.name==='home'}" to="/">Home</RouterLink></li>
    <li><RouterLink :class="{active: route.name==='chat'}" :to="{name: 'chat'}">Chat</RouterLink></li>
    <li><RouterLink :class="{active: route.name==='address-book'}" :to="{path: '/address-book'}">Address Book</RouterLink></li>
    <li><RouterLink :class="{active: route.name==='home2'}" :to="{name: 'home2'}">Home 2</RouterLink></li>
    <li><RouterLink :class="{active: route.name==='home3'}" :to="{name: 'home3'}">Home 3</RouterLink></li>
    
  </ul>
  <!-- <div>{{ route.name }}</div>
  <button @click="goToChat()">Click to Chat</button> -->
  <div style="margin-left:25%; padding:1px 16px; height: 1000px; width: 75%; background-color: #eeeeee;">
    <RouterView style="margin: auto; width: 700px; background-color: white; height: 1000px;"/>
  </div>
  
</template>

<style>
body {
  font-family: 'Kanit';
  font-size: 22px;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
</style>
